body{
    background-color: ghostwhite;
    text-align: center;
    color: rgb(17, 7, 7);
    font-family: 'Quicksand',serif;
}

.box{
    display: inline-block;
    border: 1px solid rgb(129, 123, 123);
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

#container{
    margin-top: 100px;
}

span{
    position: absolute;
    font-size: 75px;
    font-family: sans-serif;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 5px;
    margin-left: -35px;
}

.top{border-top: none;}
.bottom{border-bottom: none;}
.right{border-right: none;}
.left{border-left: none;}